.main {
  background-color: #E5E5E5;
}

* {
  font-family: "Manrope", sans-serif;
}

header {
  background-image: url("../assets/pp_background.png");
  width: 100%;
  height: 667px;
}

.logo {
  display: flex;
  padding-top: 50px;
  padding-bottom: 200px;
  padding-left: 50px;
}

.tagline {
  color: #FFD15B;
  font-family: "Anton", sans-serif;
  font-size: 44px;
  width: 70%;
  margin: auto;
  text-align: center;
}

.mainSearchbar {
  display: flex;
  position: relative;
  height: 72px;
  width: 70%;
  margin: auto;
  margin-top: 20px;
}
.mainSearchbar input {
  width: 100%;
  border-radius: 10px;
}
.mainSearchbar__loop {
  position: absolute;
  top: 10px;
  right: 5px;
}

.cardRecipe {
  width: 380px;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 55px;
  margin-left: 20px;
}
.cardRecipe__image {
  width: 100%;
  overflow: hidden;
  height: 250px;
  position: relative;
  border-radius: 20px 20px 0px 0px;
}
.cardRecipe__image img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.cardRecipe__image__time {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #FFD15B;
  padding: 5px;
  border-radius: 15%;
}
.cardRecipe__name {
  font-family: "Anton", sans-serif;
  font-size: 18px;
  margin: 20px 10px 20px 20px;
}
.cardRecipe__recipe {
  margin: 0px 10px 20px 20px;
}
.cardRecipe__recipe__label {
  margin-bottom: 20px;
  color: #7A7A7A;
  font-weight: 700;
  font-size: 12px;
}
.cardRecipe__recipe__text {
  font-weight: 400;
  font-size: 14px;
}
.cardRecipe__ingredients {
  margin: 0px 20px 20px 20px;
  padding-bottom: 20px;
}
.cardRecipe__ingredients__label {
  color: #7A7A7A;
  font-weight: 700;
  font-size: 12px;
}
.cardRecipe__ingredients__text {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.ingredient {
  font-size: 14px;
  width: 35%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 50px;
}
.ingredient__name {
  font-weight: 500;
  color: black;
}
.ingredient__quantity {
  font-weight: 400;
  color: #7A7A7A;
}

.tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
}
.tags__all {
  display: flex;
  align-items: flex-start;
}
.tags__all__category {
  background-color: white;
  width: 195px;
  border-radius: 10px;
  margin: 15px;
}
.tags__searchbar {
  position: relative;
  width: 195px;
}
.tags__searchbar__bar {
  margin-bottom: 15px;
  margin-left: 10px;
  width: 163px;
  height: 36px;
}
.tags__searchbar__loop {
  position: absolute;
  right: 25px;
  top: 10px;
}

.category__main {
  display: flex;
  padding: 10px 10px 0px 10px;
}
.category__main__label {
  font-size: 16px;
  width: 195px;
  padding-bottom: 10px;
}
.category__main__logo:hover {
  cursor: pointer;
}
.category__suggests {
  color: red;
}

.keyword__suggest:hover {
  background-color: #FFD15B;
  cursor: pointer;
}

.keyword__suggest {
  padding: 4px 10px 4px 10px;
}

#ingredientsDropup {
  display: none;
}
#ingredientsDropup:hover {
  cursor: pointer;
}

#applianceDropup {
  display: none;
}
#applianceDropup:hover {
  cursor: pointer;
}

#ustensilesDropup {
  display: none;
}
#ustensilesDropup:hover {
  cursor: pointer;
}

#applianceKeywords {
  display: none;
}

#ustensilesKeywords {
  display: none;
}

#ingredientsKeywords {
  display: none;
}

.tags__all__category1 {
  background-color: red;
}

.recipesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.tag {
  width: 165px;
  background-color: #FFD15B;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px 10px 15px;
  margin-left: 15px;
}
.tag__cross:hover {
  cursor: pointer;
}

.selectedTags {
  display: flex;
}

.tags__results {
  display: flex;
  width: 115px;
  justify-content: space-between;
  font-family: "Anton", sans-serif;
  font-size: 21px;
  font-weight: 400;
  color: #1B1B1B;
}

/*# sourceMappingURL=search.css.map */
