.recipesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    @include smartphone {
        width: 100%;
        margin-left: 0;
    }
}

.tag {
    width: 165px;
    background-color: #FFD15B;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px 10px 15px;
    margin-left: 15px;
    &__cross:hover {
        cursor: pointer;
    }
}

.selectedTags {
    display: flex;
}

.tags {
    &__results {
        display: flex;
        width: 115px;
        justify-content: space-between;
        font-size: 21px;
        font-weight: 400;
        color: #1B1B1B;
        @include smartphone{
            padding-left: 15px;
            padding-top: 10px;
        }
        &__amount {
            font-family: 'Anton', sans-serif;
        }
        &__label {
            font-family: 'Anton', sans-serif;

        }
    }
}