.tags {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
    &__all {
        display: flex;
        align-items: flex-start;
        &__category {
            background-color: white;
            width: 195px;
            border-radius: 10px;
            margin: 15px;
            
        }
    }
    &__searchbar {
        position: relative;
        width: 195px;
        &__bar {
            margin-bottom: 15px;
            margin-left: 10px;
            width: 163px;
            height: 36px;
        }
        &__loop {
            position: absolute;
            right: 25px;
            top: 10px;
        }
    }
}

.category {
    &__main {
        display: flex;
        padding: 10px 10px 0px 10px;
        &__label {
            font-size: 16px;
            width: 195px;
            padding-bottom: 10px;
        }
        &__logo {
            &:hover {
                cursor: pointer;
            }
        }
    }
    
    &__suggests {
        color: red;
    }
}

.keyword__suggest:hover{
    background-color: #FFD15B;
    cursor: pointer;
}

.keyword__suggest{
    padding: 4px 10px 4px 10px;
}

#ingredientsDropup {
    display: none;
    &:hover {
        cursor: pointer;
    }
}

#applianceDropup {
    display: none;
    &:hover {
        cursor: pointer;
    }
}

#ustensilesDropup {
    display: none;
    &:hover {
        cursor: pointer;
    }
}

#applianceKeywords {
    display: none;
}

#ustensilesKeywords {
    display: none;
}

#ingredientsKeywords {
    display: none;
}


.tags__all__category1 {
    background-color: red;
}